html {
    height: 95%;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    background: #f5f5f5;
    color: #3d3d3d;
}

#all-container {
    top: 30%;
    position: relative;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    letter-spacing: -.01em;
    font-size: 2em;
    line-height: 1.4em;
    
}
#name {
    display: inline;
    
}

#nav {
    list-style-type: none;
    font-size: .6em;
    margin: 0;
    padding: 0;
    line-height: 1em;
}
#nav li {
    display: inline;
    border-right: 3px solid #3d3d3d;
    text-align: left;
    padding-right: 7px;
    padding-left: 7px;
    
}
#nav li:last-child {
    border-right: none;
}
#nav li:hover {
    text-decoration: underline;
}



#virginia-container {
    text-align: center;
    align-content: center;
    position: relative;
    top: 30%;
}

#va-svg {
    width: 127px;
    height: 60px;
}

#va-path {
    fill: none;
    stroke-width: 4;
    stroke: #231f20;
    stroke-miterlimit: 10;
}

#va-svg:hover, #nhvt-svg:hover {
    opacity: 0.5;
}

#nhvt-container {
    padding-top: 15px;
     text-align: center;
    align-content: center;
    position: relative;
    top: 30%;
}

#nhvt-svg {
   width: 127px;
    height: 100px;
}

#nh, #vt {
    fill: none;
    stroke-width: 3;
    stroke: #231f20;
    stroke-miterlimit: 10;
}