html {
    height: 95%;
    padding: 0;
}

body {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    background: #f5f5f5;
    color: #3d3d3d;
}
h1 {
    text-align: center;
}

#container {
    width: 500px;
    text-align: center;
    
}
   /* padding-top: 10px;
    padding-left: 30px; 
} /*

#va-path {
    fill: none;
    stroke-width: 2;
    stroke: #231f20;
    stroke-miterlimit: 10;
}

circle:hover {
    fill: blue;
    stroke-width: 5;
}

#spotsy-line {
    display: none;
}
#wm-line {
    display: none;
}
#mb-line {
    display: none;
}
#danville-line {
    display: none;
}

.draw {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}       
    */